<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8QT77VTFB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-M8QT77VTFB');
    </script>
    <title>georgi.ws / Georgi Serev</title>
    <link href="<%= sourcePath %>/fonts<%= cssHash%>.css" rel="stylesheet" />
    <link href="<%= sourcePath %>/index<%= cssHash%>.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal website of Georgi Serev. A software engineer specializing in front-end technologies" />
    <link rel="icon" type="image/png" href="<%= sourcePath %>/favicon.png" />
    <noscript>
      <meta http-equiv="refresh" content="0; URL=<%= sourcePath %>/noscript.html"/>
    </noscript>
  </head>
  <body></body>
</html>
